header {
    padding-top: 19px;
}
.logo__text {
    font-family: 'HeliosCond-Bold';
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
.logo {
    .logo__image {
        width: 210px;
        height: 111px;
        position: relative;
    }
}
.header__row {
    display: flex;
}
.header__content {
    padding-left: 30px;
    width: 100%;
    position: relative;
    top: -3px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 7px;
    nav {
        ul {
            display: flex;
            li {
                &:not(:last-child) {
                    padding-right: 22px;
                }
                a {

                }
            }
        }
    }
}
.header__personal-area {
    a {
        position: relative;
        &:first-child {
            padding-right: 26px;
            &::after {
                content: '|';
                position: absolute;
                right: 8px;
                top: 1px;
                color: var(--black-color);
            }
        }
    }
}
.link--active {
    background-color: var(--yellow-color) !important;
    color: var(--black-color) !important;
}
.header__empty {
    width: 253px;
    height: 70px;
    background-color: var(--grey-color);
}
.header__number {
    font-size: 25px;
    color: rgb(37, 37, 37);
    font-weight: bold;
    line-height: 1.2;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}
.header__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
a {
    transition: 0.3s ease-out;
    &.text {
        &:hover {
            color: darken(#ffcc00, 5%);
            border-color: darken(#ffcc00, 5%);
        }
    }
}
.header__item {
    display: flex;
    align-items: center;
    img {

    }
    a {
        margin-left: 11px;
        border-bottom: 1px solid var(--black-color);
    }
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}
.header__item-wrap {
    width: 19px;
    height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__img-list {
    display: flex;
}
.header__img-item {
    width: 72px;
    height: 72px;
    border: 1px solid var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
        margin-right: 12px;
    }
    &:hover {
        border: 1px solid var(--yellow-color);
    }
}
.header__time {
    display: flex;
    justify-content: space-between;
}
.location {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-color);
    padding-top: 6px;
}
.location__change {
    border-bottom: 1px dotted var(--black-color);
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 8px;
        border-color: transparent transparent transparent var(--black-color);
        top: 5px;
        left: -11px;
    }
}
.header__bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.21);
    position: relative;
    nav {
        width: 100%;
        background-color: var(--black-color);
        ul {
            display: flex;
            justify-content: center;
            li {
                a {
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: bold;
                    line-height: 1.2;
                    padding: 11px 20px 9px;
                    display: block;
                    &:hover {
                        color: var(--black-color);
                        background-color: var(--yellow-color);
                    }
                }
            }
        }
    }
}

.bottom-nav__sale {
    font-size: 14px;
    color: var(--black-color);
    font-weight: bold;
    line-height: 1.2;
    padding: 11px 20px 9px;
    text-transform: uppercase;
    background-color: var(--yellow-color);
    display: block;
    border-radius: 0 8px 8px 0;
    &:hover {
        color: var(--white-color);
    }
}
.bottom-nav__search {
    display: flex;
    flex: 0 1 40px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    border-radius: 8px 0 0 8px;
    svg {
        width: 20px;
        height: 20px;
        transition: 0.3s ease-out;
        transform: scale(-1,1);
    }
    &:hover {
        svg {
            fill: #ffffff;
        }
    }
}

