<header class="header">
	<div class="header__container _container">
        <div class="header__row">
            <a href="#" class="header__logo logo">
                <div class="logo__image">
                    <img src="img/logo.jpg" alt="">
                </div>
                <h6 class="logo__text">магазин инструмента</h6>
            </a>
            <div class="header__content">
                <div class="header__nav">
                    <nav>
                        <ul>
                            <li><a href="#" class="text">Каталог инструментов</a></li>
                            <li><a href="#" class="text">Все для сада</a></li>
                            <li><a href="#" class="text">Ручной инструмент</a></li>
                            <li><a href="#" class="text">Электрика</a></li>
                            <li><a href="#" class="text">Доставка</a></li>
                            <li><a href="#" class="text">Оплата</a></li>
                            <li><a href="#" class="text">О нас</a></li>
                        </ul>
                    </nav>
                    <div class="header__personal-area">
                        <a href="#" class="header__entrance text">Вход</a>
                        <a href="#" class="header__registration text">Регистрация</a>
                    </div>
                </div>
                <div class="header__bottom">
                    <div class="header__empty"></div>
                    <div class="header__list">
                        <div class="header__item">
                            <div class="header__item-wrap">
                                <img src="img/cart.png" alt="">
                            </div>
                            <a href="" class="text"><span>3</span> шт. /<span>17 250</span> р.</a>
                        </div>
                        <div class="header__item">
                            <div class="header__item-wrap">
                                <img src="img/star.png" alt="">
                            </div>
                            <a href="" class="text">Избранное (<span>7</span>)</a>
                        </div>
                        <div class="header__item">
                            <div class="header__item-wrap">
                                <img src="img/balance.png" alt="">
                            </div>
                            <a href="" class="text">К сравнению (<span>5</span>)</a>
                        </div>
                    </div>
                    <div class="header__img-list">
                        <a href="#" class="header__img-item">
                            <img src="img/3.png" alt="">
                        </a>
                        <a href="#" class="header__img-item">
                            <img src="img/2.png" alt="">
                        </a>
                        <a href="#" class="header__img-item">
                            <img src="img/1.png" alt="">
                        </a>
                    </div>
                    <div class="header__data">
                        <div class="header__time">
                            <span class="header__time-title text-bold">Время работы:</span>
                            <span class="header__time-numbers text">10:00 — 19:00</span>
                        </div>
                        <a href="tel:84957212525" class="header__number">8 495 721-25-25</a>
                        <div class="header__location location">
                            <div class="location__city text">Москва</div>
                            <a href="#" class="location__change text">сменить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom-nav bottom-nav">
            <a href="#" class="bottom-nav__search">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                    <g>
                        <g id="Search">
                            <g>
                                <path d="M382.5,0C255.759,0,153,102.759,153,229.5c0,53.034,18.149,101.707,48.367,140.568L8.415,563.021     C2.812,568.625,0,575.949,0,583.312c0,7.344,2.812,14.688,8.415,20.292C14,609.208,21.343,612,28.688,612     s14.688-2.792,20.272-8.396l192.971-192.972C280.793,440.851,329.467,459,382.5,459C509.241,459,612,356.241,612,229.5     S509.241,0,382.5,0z M382.5,401.625c-94.917,0-172.125-77.208-172.125-172.125c0-94.917,77.208-172.125,172.125-172.125     c94.917,0,172.125,77.208,172.125,172.125C554.625,324.417,477.417,401.625,382.5,401.625z"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <nav>
                <ul>
                    <li><a href="#">Перфораторы</a></li>
                    <li><a href="#">Дрели</a></li>
                    <li><a href="#">Шлифмашины</a></li>
                    <li><a href="#">Пистолеты</a></li>
                    <li><a href="#">Электропилы</a></li>
                    <li><a href="#">Наборы инструментов</a></li>
                    <li><a href="#">Аксессуары</a></li>
                </ul>
            </nav>
            <a href="#" class="bottom-nav__sale">Распродажа</a>
        </div>
	</div>
</header>
